* {
  margin: 0;
  padding: 0;
  font-family: "popins", "sans-serif";
}

body {
  background-image: url(../img/fondo3.jpg);
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #c7e6a1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  flex-grow: 1;
}

/*********************************************************************************************************************************************/
/*****************************************************GOIBURUAREN CSS*************************************************************************/
/*********************************************************************************************************************************************/

header {
  display: flex;
  align-items: center;
  border: 3px solid #50c878;
  border-radius: 8px;
  font-family: sans-serif;
  margin: 0 auto;
  width: 60%;
  max-width: 100%;
  background-color: white;
  justify-content: space-between;
  padding: 10px;
}

.header-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-div h1 {
  color: #2a4d36;
  margin: 0 20px;
  font-size: 2em;
  text-align: center;
}

.header-div img {
  border-radius: 8px;
  margin: 0 20px;
  height: auto;
  width: 170px;
  max-height: 110px;
}

.headerlogout-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.headerlogout-div h1 {
  color: #2a4d36;
  margin: 0 20px;
  font-size: 2em;
  text-align: center;
}

.headerlogout-div img {
  border-radius: 8px;
  margin: 0 20px;
  height: auto;
  width: 170px;
  max-height: 110px;
}

.headerlogout-div .logout {
  padding: 10px 20px;
  background-color: #a31d1d;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  width: 80%;
}

.headerlogout-div .logout:hover {
  background-color: #6d2323;
}

.headerlogout-div .bueltatu {
  padding: 10px 20px;
  background-color: #50c878;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
}

.headerlogout-div .bueltatu:hover {
  background-color: #8dbe74;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*********************************************************************************************************************************************/
/*****************************************************LOGIN CSS*******************************************************************************/
/*********************************************************************************************************************************************/

.login-div {
  background-image: url();
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  border: 3px solid #50c878;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form h1 {
  color: #2a4d36;
}

.login-form label {
  margin-bottom: 5px;
  color: #2a4d36;
}

.login-form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #6a7f4d;
  border-radius: 4px;
}

.login-form button {
  padding: 10px;
  background-color: #50c878;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.login-form button:hover {
  background-color: #8dbe74;
}

/*********************************************************************************************************************************************/
/*****************************************************MENU CSS********************************************************************************/
/*********************************************************************************************************************************************/

.menu-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 200px;
  border: 3px solid #50c878;
}

.menu-div h1 {
  color: #2a4d36;
}

.menu-div button {
  padding: 10px;
  background-color: #50c878;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
}

.menu-div button:hover {
  background-color: #8dbe74;
}

.menu-div .logout {
  padding: 10px;
  background-color: #a31d1d;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
}

.menu-div .logout:hover {
  background-color: #6d2323;
}
/*********************************************************************************************************************************************/
/*****************************************************BIDAIAK ERREGISTARTU CSS*************************************************************/
/*********************************************************************************************************************************************/

.bidaiakerre-div {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  border: 3px solid #50c878;
  margin-bottom: 20px;
}

.bidaiakerre-div h1 {
  color: #2a4d36;
}

.bidaiakerre-form {
  display: flex;
  flex-direction: column;
}

.bidaiakerre-form h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.bidaiakerre-form label {
  margin-bottom: 5px;
  color: #2a4d36;
}

.bidaiakerre-form input,
.bidaiakerre-form select {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #6a7f4d;
  border-radius: 4px;
}

.bidaiakerre-form button {
  padding: 10px;
  background-color: #50c878;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.bidaiakerre-form button:hover {
  background-color: #8dbe74;
}

.taula {
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
  margin-top: 20px; 
  margin-bottom: 20px;
  border-radius: 8px;
}

.taula th,
.taula td {
  border: 1px solid #6a7f4d;
  padding: 12px;
  text-align: left;
  color: #2a4d36;
  background-color: #ffffff;
  border-radius: 8px;
}

.taula th {
  background-color: #50c878;
  color: #ffffff;
}

/*********************************************************************************************************************************************/
/*****************************************************ZERBITZUAK ERREGISTARTU CSS*************************************************************/
/*********************************************************************************************************************************************/

.zerbitzuakerre-div,
#extra-form,
#hegaldia-form,
#joan-form,
#joan-etorria-form,
#ostatua-form,
#bestebatzuk-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 40%;
  border: 3px solid #50c878;
  margin-top: 20px;
}

.zerbitzuakerre-form,
#additional-form,
#hegaldia-form .zerbitzuakerre-form,
#joan-form .zerbitzuakerre-form,
#joan-etorria-form .zerbitzuakerre-form,
#ostatua-form .zerbitzuakerre-form,
#bestebatzuk-form .zerbitzuakerre-form {
  display: flex;
  flex-direction: column;
}

.zerbitzuakerre-form h1,
#extra-form h3,
#hegaldia-form h3,
#joan-form h3,
#joan-etorria-form h3,
#ostatua-form h3,
#bestebatzuk-form h3 {
  text-align: center;
  color: #2a4d36;
}

.zerbitzuakerre-form label,
#extra-form label,
#hegaldia-form label,
#joan-form label,
#joan-etorria-form label,
#ostatua-form label,
#bestebatzuk-form label {
  margin-bottom: 5px;
  color: #2a4d36;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.zerbitzuakerre-form input,
#extra-form input,
.zerbitzuakerre-form select,
#extra-form select,
#hegaldia-form input,
#hegaldia-form select,
#joan-form input,
#joan-form select,
#joan-etorria-form input,
#joan-etorria-form select,
#ostatua-form input,
#ostatua-form select,
#bestebatzuk-form input,
#bestebatzuk-form select {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #6a7f4d;
  border-radius: 4px;
  width: 100%;
}

.zerbitzuakerre-form button,
#extra-form button,
#hegaldia-form button,
#joan-form button,
#joan-etorria-form button,
#ostatua-form button,
#bestebatzuk-form button {
  padding: 10px;
  background-color: #50c878;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.zerbitzuakerre-form button:hover,
#extra-form button:hover,
#hegaldia-form button:hover,
#joan-form button:hover,
#joan-etorria-form button:hover,
#ostatua-form button:hover,
#bestebatzuk-form button:hover {
  background-color: #8dbe74;
}

.zerbitzuakerre-form .radio-group,
#extra-form .radio-group,
#hegaldia-form .radio-group,
#joan-form .radio-group,
#joan-etorria-form .radio-group,
#ostatua-form .radio-group,
#bestebatzuk-form .radio-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/*********************************************************************************************************************************************/
/*****************************************************RESPONSIVE CSS**************************************************************************/
/*********************************************************************************************************************************************/

@media screen and (max-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
