* {
  margin: 0;
  padding: 0;
  font-family: "popins", "sans-serif";
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #c7e6a1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/*********************************************************************************************************************************************/
/*****************************************************LOGIN CSS*******************************************************************************/
/*********************************************************************************************************************************************/

.login-div {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-bottom: 5px;
  color: #2a4d36;
}

.login-form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #6a7f4d;
  border-radius: 4px;
}

.login-form button {
  padding: 10px;
  background-color: #50c878;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.login-form button:hover {
  background-color: #8dbe74;
}

/*********************************************************************************************************************************************/
/*****************************************************MENU CSS********************************************************************************/
/*********************************************************************************************************************************************/

.menu-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-div button {
  padding: 10px;
  background-color: #50c878;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
}

.menu-div button:hover {
  background-color: #8dbe74;
}

.menu-div .logout {
  padding: 10px;
  background-color: #A31D1D;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
}

.menu-div .logout:hover {
  background-color: #6D2323;
}
/*********************************************************************************************************************************************/
/*****************************************************BIDAIAK ERREGISTARTU CSS*************************************************************/
/*********************************************************************************************************************************************/

.bidaiakerre-div {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 120px;
}

.bidaiakerre-form {
  display: flex;
  flex-direction: column;
}

.bidaiakerre-form h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.bidaiakerre-form label {
  margin-bottom: 5px;
  color: #2a4d36;
}

.bidaiakerre-form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #6a7f4d;
  border-radius: 4px;
}

.bidaiakerre-form button {
  padding: 10px;
  background-color: #50c878;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.bidaiakerre-form button:hover {
  background-color: #8dbe74;
}

/*********************************************************************************************************************************************/
/*****************************************************RESPONSIVE CSS**************************************************************************/
/*********************************************************************************************************************************************/

.bidaiakerre-div {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 120px;
}

.bidaiakerre-form {
  display: flex;
  flex-direction: column;
}

.bidaiakerre-form h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.bidaiakerre-form label {
  margin-bottom: 5px;
  color: #2a4d36;
}

.bidaiakerre-form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #6a7f4d;
  border-radius: 4px;
}

.bidaiakerre-form button {
  padding: 10px;
  background-color: #50c878;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.bidaiakerre-form button:hover {
  background-color: #8dbe74;
}

/*********************************************************************************************************************************************/
/*****************************************************ZERBITZUAK ERREGISTARTU CSS*************************************************************/
/*********************************************************************************************************************************************/

.zerbitzuakerre-div {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.zerbitzuakerre-form {
  display: flex;
  flex-direction: column;
}

.zerbitzuakerre-form h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.zerbitzuakerre-form label {
  margin-bottom: 5px;
  color: #2a4d36;
}

.zerbitzuakerre-form input {
  display: flex;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #6a7f4d;
  border-radius: 4px;
}

.zerbitzuakerre-form button {
  padding: 10px;
  background-color: #50c878;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.zerbitzuakerre-form button:hover {
  background-color: #8dbe74;
}

.zerbitzuakerre-form .radio-group {
  display: flex;
  flex-direction: row; 
  gap: 10px; 
}

/*********************************************************************************************************************************************/
/*****************************************************HEGALDIA CSS****************************************************************************/
/*********************************************************************************************************************************************/

.hegaldia-div {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 120px;
}

.hegaldia-form {
  display: flex;
  flex-direction: column;
}

.hegaldia-form h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hegaldia-form label {
  margin-bottom: 5px;
  color: #2a4d36;
}

.hegaldia-form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #6a7f4d;
  border-radius: 4px;
}

.hegaldia-form button {
  padding: 10px;
  background-color: #50c878;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.hegaldia-form button:hover {
  background-color: #8dbe74;
}

/*********************************************************************************************************************************************/
/*****************************************************RESPONSIVE CSS**************************************************************************/
/*********************************************************************************************************************************************/

@media screen and (max-width: 800px) {
  footer .talde-1 {
    grid-template-columns: 1fr;
    padding: 15px 0;
    grid-gap: 20px;
  }

  footer .talde-1 .kutxa {
    text-align: center;
  }

  body {
    display: flex;
    flex-direction: column;
  }
}
